# Note: no dependencies are required on Python >=3.9; `black` is optional; `pyyaml` is mostly optional
https://api.github.com/repos/offscale/astor/zipball/empty-annassign#egg=astor
black
pyyaml
setuptools
typing-extensions
