name: Linting, testing, and coverage

on:
  push:
    branches:
    - 'master'

jobs:
    test:
        name: ${{ matrix.os.name }} ${{ matrix.python-version }}
        runs-on: ${{ matrix.os.runs-on }}
        strategy:
            matrix:
                python-version: [3.6, 3.7, 3.8, '3.9.0-alpha - 3.9.0']
                os:
                    -   name: Linux
                        runs-on: ubuntu-latest
                        python_platform: linux
                    -   name: Windows
                        runs-on: windows-latest
                        python_platform: win32
                    -   name: macOS
                        runs-on: macos-latest
                        python_platform: darwin
        steps:
            -   uses: actions/checkout@v2
            -   name: Set up Python ${{ matrix.python-version }}
                uses: actions/setup-python@v2
                with:
                    python-version: ${{ matrix.python-version }}
                    architecture: x64
            -   name: install_dependencies
                run: |
                    python -m pip install --upgrade pip
                    python -m pip install --upgrade setuptools wheel
                    pip install -r requirements.txt
                    python --version | grep -qF '3.9.' && sed -i '/astor/d' requirements.txt || true
            -   name: Test with unittest
                run: |
                    python setup.py test

            -   name: Lint with flake8
                run: |
                    pip install flake8
                    flake8 . --count --select=$(printf '%s,' {A..Z}) --ignore='W503,E203' --show-source --max-complexity=13 --max-line-length=119 --statistics
                if: matrix.python-version == '3.8' && matrix.os.name == 'Linux'
            -   name: Doc coverage
                run: |
                    pip install interrogate codecov coverage
                    interrogate --generate-badge '.github/doccoverage.svg'
                    sed -i 's/>interrogate</>doc coverage</g; s/.0%/%/g' .github/doccoverage.svg
                    grep -qF '100%' .github/doccoverage.svg && sed -i 's/370/300/g' .github/doccoverage.svg
                    # Setup git config
                    email_author="$(git log -1 --pretty=format:'%an <%ce>')"
                    author="${email_author% *}"
                    email="${email_author#*<}"; email="${email::-1}"
                    git config --global user.name "$author"
                    git config --global user.email "$email"
                    # Only commit and push if there's a change
                    if git diff --name-only --diff-filter='M' | grep -qF '.github/doccoverage.svg'; then
                        git add .github/doccoverage.svg
                        git commit -m '[.github/doccoverage.svg] Updated coverage'
                        git push origin master
                    fi
                if: matrix.python-version == '3.8' && matrix.os.name == 'Linux'
            -   name: Test coverage
                run: |
                    coverage run -m unittest discover
                    bash <(curl -s https://codecov.io/bash)
                env:
                    CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
                if: matrix.python-version == '3.8' && matrix.os.name == 'Linux'
